.brand {
  order: 1;
}

.nav {
  order: 2;
}

@media (max-width: calc(48rem - 0.02px)) {
  .brand {
    order: 2;
  }

  .nav {
    order: 1;
  }
}

.img {
  filter: grayscale(100%) brightness(0.7);
  opacity: 0.9;
}

.copy {
  color: var(--color-text-secondary, #6e7681);
}
